.solid-box {
  background-color: #8a7e7b;
  height: 120px;
  padding: 30px;
  box-sizing: border-box;
}

.h1-color {
  color: white;
}

.text-center {
  text-align: center;
}

.solid-line {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.navbar-links {
  border-right: 2px solid #bbb;
  text-align: center;
  padding: 0.1% 2% 0.1% 2%;
  text-decoration: none;
  font-size: 120%;
}

/* this takes the last tag using the above css and applies the rules defined here to it */
.navbar-links:last-child {
  border-right: none;
}
