.grey {
  background-color: rgb(65, 65, 58);
}

.solid-box {
  background-color: none;
  height: 60px;
  padding: 30px;
  box-sizing: border-box;
}

.center-box {
  width: 60rem;
  margin: auto;
  padding: 0.25rem;
  align-content: center;
  border: 1px solid red;
}

.double-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  margin-bottom: 0;
}

.nav {
  display: "flex";
  gap: "1.5rem";
  flex-wrap: nowrap;
  overflow: hidden;
  margin: 0;
}

.navbar-links {
  color: black;
  border-right: 5px solid #bbb;
  text-align: center;
  padding: 0.25rem 3rem;
  text-decoration: none;
  font-size: 1.3rem;
  white-space: nowrap;
}

/* this takes the last tag using the above css and applies the rules defined here to it */
.navbar-links:last-child {
  border-right: none;
}
.h1-color {
  color: white;
}

.text-center {
  text-align: center;
}

.solid-line {
  margin-top: 0rem;
  margin-left: auto;
  margin-right: auto;
  border-top: 5px solid #bbb;
  width: 95%;
}
